@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f4f8;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1000px;
}

a {
  text-decoration: none;
  display: block;
  color: #000000;
}

button {
  outline: none;
  border: none;
}

.textarea {
  padding: 1rem 1.5rem;
  height: 300px;
  border-radius: 1rem;
}



.pageContainer,
.offers,
.profile,
.category,
.profileServiceList
.explore {
  margin: 1rem;
}

.profileServiceList {
  margin-left: 1rem;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #006eff transparent #006eff transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 

    NAVBAR

*/

.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 85px;
  background-color: #ffffff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.navbarNav {
  width: 100%;
  margin-top: 0.75rem;
  overflow-y: hidden;
}

.navbarListItems {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbarListItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbarListItemName,
.navbarListItemNameActive {
  margin-top: 0.25rem;
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
}

.navbarListItemNameActive {
  color: #2c2c2c;
}

/*

    SIGN UP & SIGN IN PAGES

*/


.passwordInput,
.emailInput,
.nameInput {
  background-color: #ffffff;
  border: none;
  font-weight: 600;
  border-radius: 1rem;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0 0;
  padding-left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.passwordInputDiv {
  display: flex;
  flex-wrap: none;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.passwordInput,
.emailInput,
.nameInput {
  width: 75%;
  border-radius: 1.5rem;
  height: 3rem;
}

.showPassword {
  cursor: pointer;
}

.forgotPasswordLink {
  cursor: pointer;
  color: #006eff;
  font-weight: 600;
  text-align: right;
}

.signInBar,
.signUpBar {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: inherit;
}

.socialLogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.registerLink {
  margin-top: 4rem;
  color: #006eff;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}

@media (min-width: 1024px) {
  .socialIconDiv {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    margin: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  .socialIconImg {
    width: 100%;
  }
}
.signInText,
.signUpText {
  cursor: pointer;
}

.signInText,
.signUpText {
  font-size: 1.5rem;
  font-weight: 700;
}

/* 

    HEADINGS

*/

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signInHeader,
.signUpHeader,
.categoryHeader, 
.profileHeader,
.exploreHeader,
.createServiceHeader,
.editServiceHeader {
  font-size: 2rem;
  font-weight: 800;
  margin: 2rem 0 0 0;
}

.exploreHeading,
.swiperHeading,
.exploreCategoryHeading {
  font-weight: 700;
  margin: 1rem 1rem;
}

.exploreHeader,
.profileHeading {
  margin-left: 1rem;
}

.exploreParagraphHeading {
  margin: 1rem 1rem;
}

.exploreCategoryHeading {
  margin-top: 3rem;
}

/*

    SERVICE CARDS (& SWIPER)

*/

.swiper-wrapper {
  min-height: 225px;
  height: 30vw;
}

.swiper-pagination-bullet {
  background-color: #006eff !important;
}

.swiper-pagination-bullet-active {
  background-color: #000000 !important;
}



.swiperExploreServiceCard,
.serviceItemCard, 
.servicePageCard,
.servicePageAdditionalDetails {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem;
  position: relative;
  background: #ffffff;
  border-radius: 1.5rem;
  height: 175px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.servicePageAdditionalDetails {
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  margin-bottom: 6rem;
}

.profileServices {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 7rem;
}

.serviceItemCard {
  width: 100%;
  margin-left: 0;
}

.swiperExploreServiceImg,
.categoryServiceImg,
.servicePageImg {
    width: 10rem;
    height: 10rem;
    border: 2px solid #006eff;
    border-radius: 50%;
    object-fit: cover;
  }

.swiperServiceDetails,
.categoryServiceDetails,
.servicePageDetailsList,
.servicePageDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
}

.servicePageDetails {
  margin-left: 1rem;
}

.servicePageDetailsList {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
  margin-top: 0;
}

.servicePageDetailsFaCheck {
  color: #03c800;
}

.swiperServiceQuote,
.categoryServiceQuote {
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
      font-weight: 400;
      opacity: 0.8;
      font-size: 0.75rem;
}

.swiperServiceName,
.categoryServiceName,
.servicePageName {
  font-weight: 600;
  font-size: 1.25rem;
  align-items: start;
  margin-top: 0;
  margin-bottom: 0.3rem;
}

.swiperServicePrice,
.categoryServicePrice,
.servicePagePrice {
  font-weight: 600;
  font-size: 1.1rem;
  color: #006eff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.3rem 0;
}

.servicePageTypeSavingsDiv,
.reviewHeaderDiv {
  display: flex;
  flex-direction: row;
}

.swiperServiceType,
.servicePageType,
.servicePageSavingsPrice,
.reviewCoachingType,
.reviewPriceType {
  background-color: #006eff;
  color: #ffffff;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 0.8rem;
  margin: 1.25rem .5rem;
  padding: 0.25rem 0.5rem;
  height: 1.5rem;
}

.reviewTypeDiv {
  display: flex;
  flex-wrap: none;
  justify-content: flex-start;
  width: 90%;
}

.reviewCoachingType,
.reviewPriceType {
  margin: 1.25rem .5rem;
}

.servicePageSavingsPrice, 
.servicePageType,
.swiperServiceType {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.swiperServiceType {
  margin-left: 0;
}

.servicePageType {
  background-color: #006eff;
  margin-left: 0;
}

.servicePageSavingsPrice {
  color: #ffffff;
}

.servicePageSavingsPrice,
.reviewPriceType {
  background-color: #000000;
  margin-left: 0;
}

.servicePageAddress {
  margin: 0.3rem 0;
  font-weight: 400;
  opacity: 0.8;
}

/*

    CATEGORY PAGE STRUCTURE

*/

.categoryServiceRatingDiv {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.categoryServiceStarRatings {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: none;
    height: 1rem;
    margin-top: 0.3rem;
}

.categoryServiceStarReviews {
  margin-left: 1rem;
}

/*

    EXPLORE PAGE STRUCTURE

*/

.exploreCategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.exploreCategories a {
  width: 30%;
  min-width: 200px;
  min-height: 200px;
  margin: 0 .5rem;
}

.exploreCategoryImg {
  min-height: 185px;
  height: 20vw;
  width: 100%;
  border-radius: 1.5rem;
  object-fit: fill;
  margin: 0 auto;
}

.exploreCategoryName {
  font-weight: 500;
  text-align: center;
}

/*

    SERVICE PAGE STRUCTURE

*/

.serviceMapDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
   width: 100%;
}

.leafletContainer {
  width: 100%;
  height: 300px;
  overflow-x: hidden;
}

.servicePageInformation,
.servicePageLocation,
.servicePageReviews {
  font-weight: 600;
  font-size: 1.25rem;
  opacity: 0.8;
  margin-bottom: 0;
}
.serviceLocationTitle {
  margin: 1rem;
}

.categoryListingLink {
  display: contents;
}

.linkCopied {
  position: fixed;
  top: 9%;
  right: 5%;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

/*

    CONTACT PAGE

*/

.contactPageHeader {
  font-size: 2rem;
  font-weight: 800;
  margin: 2rem auto;
}

.contactListingName {
  margin-top: -1rem;
  margin-bottom: 0;
  font-weight: 600;
}

.contactListingLocation {
  margin-top: 0.25rem;
  font-weight: 600;
}

.contactLandlord {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.landlordName {
  font-weight: 600;
  font-size: 1.2rem;
}

.messageForm {
  margin-top: 0.5rem;
}

.messageDiv {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.messageLabel {
  margin-bottom: 0.5rem;
}

.logOut {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #006eff;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  margin: 0 1rem;
}

/*

    PROFILE PAGE

*/

.profileDetailsHeader {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  max-width: 500px;
}

.personalDetailsText {
  font-weight: 600;
}

.changePersonalDetails {
  cursor: pointer;
  font-weight: 600;
  color: #006eff;
}

.profileCard {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

.profileDetails {
  display: flex;
  flex-direction: column;
}

.profileName,
.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive,
.profileNameActive {
  all: unset;
  margin: 0.3rem 0;
  font-weight: 600;
  width: 100%;
}

.profileNameActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive {
  font-weight: 500;
}

.profileEmailActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.profileAddressActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.profile {
  margin-bottom: 10rem;
}

/*

    CREATE SERVICE PAGE

*/

.createListing {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  margin: 0 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  font-weight: 600;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formLabel {
  font-weight: 600;
  margin-top: 1rem;
  display: block;
}

.formButtons {
  display: flex;
}

.categoryButtons {
  display: flex;
  flex-wrap: wrap;
}

.formButton,
.formInput,
.formInputAddress,
.formInputName,
.formInputEmail,
.formInputQuote,
.formInputSmall,
.formInputCost,
.formInputFile,
.formButtonActive {
  padding: 0.9rem 3rem;
  background-color: #ffffff;
  font-weight: 600;
  border-radius: 1rem;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formButtonActive {
  background-color: #006eff;
  color: #ffffff;
}

.flex {
  display: flex;
}

.formInput,
.formInputAddress,
.formInputName,
.formInputEmail,
.formInputQuote,
.formInputSmall,
.formInputCost,
.formInputFile {
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.formInputSmall,
.formInputCost,
.formInputFile {
  margin-right: 3rem;
  padding: 0.9rem 0.7rem;
  text-align: center;
}

.formInputCost input{
  margin-right: 0px !important
}

.formInputName,
.formInputEmail,
.formInputQuote {
  padding: 0.9rem 1rem;
  width: 90%;
  max-width: 326px;
}

.formInputAddress {
  padding: 0.9rem 1rem;
  width: 90%;
  max-width: 326px;
}

.formPriceDiv {
  display: flex;
  align-items: center;
}

.formPriceText {
  margin-left: -1.5rem;
  font-weight: 600;
}

.imagesInfo {
  font-size: 0.9rem;
  opacity: 0.75;
}

.formInputFile {
  width: 100%;
}

.formInputFile::-webkit-file-upload-button {
  background-color: #006eff;
  border: none;
  color: #ffffff;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  margin-right: 1rem;
}

/*

    REVIEW FORM

*/

.reviewFormButtons {
  display: flex;
  justify-content: center;
}

.reviewFormButton {
  padding: 0.9rem 3rem;
  background-color: #ffffff;
  font-weight: 600;
  border-radius: 1rem;
  font-size: 1rem;
  margin: 0.5rem .25rem;
}

.reviewFormButtonActive {
  padding: 0.9rem 3rem;
  background-color: #006eff;
  color: #ffffff;
  font-weight: 600;
  border-radius: 1rem;
  font-size: 1rem;
  margin: 0.5rem 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.reviewInputSmall,
.reviewTimeInputSmall {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
  border: none;
}

.reviewTimeInputSmall {
  margin-top: 0.5rem;
  height: 50px;
  width: 85px;
}

.serviceReviewForm {
  width: 65%;
  margin: 1rem auto;
  margin-bottom: 4rem;
  border-radius: 1.5rem;
  background: rgba(187, 187, 187, 0.7);
  border: 3px;
}

.serviceReviewFormDiv {
  display: flex;
  flex-direction: column;
  padding: .25rem 1rem;
}

.serviceReviewMessageDiv {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.serviceStarRatingText {
  font-weight: 500;
  font-size: 1rem;
}

.serviceStarRatingText p {
  width: 100%;
}

.createReviewButton {
  margin-top: 1rem;
  margin-bottom: 7rem;
}

.createListingButton {
  margin-top: 5rem;
}

.noReviewsPar {
  display: flex;
  justify-content: center;
}

.reviewMainDisplay {
  width: 100%;
}
.reviewDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem;
  margin-left: 0;
  position: relative;
  background: #e2e2e2;
  border-radius: 1.5rem;
}

.reviewDetails {
  width: 80%;
  margin-left: 1rem;
}



.reviewName {
  font-weight: 600;
  font-size: 1.25rem;
  margin-left: none;
}

.reviewName p {
  margin-block-end: none;
}

.ratingDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 1rem;
}

.ratingDiv {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.reviewRating {
  font-size: 1.25rem;
  margin-left: 1rem;
  cursor: pointer;
  color: #ffffff;
  background-color: #006eff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviewMessage {
  display: flex;
  justify-content: flex-start;
  margin-top: none;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style-type: none;
}

/*

    BUTTONS

*/

.primaryButton,
.createServiceButton {
  cursor: pointer;
  background: #006eff;
  border-radius: 1rem;
  padding: 0.85rem 2rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.25rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewActiveButton {
  cursor: pointer;
  background: #000000;
  border-radius: 1rem;
  padding: 0.85rem 2rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.25rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signInButton,
.signUpButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #006eff;
  border-radius: 50%;
}

.createServiceButton {
  margin-top: 1rem;
}

.removeIcon {
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: -2%;
  margin-right: 2rem;

}

.editIcon {
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 20px;
  margin-right: 2rem;
}

.starIcon img {
  width: 16px;
  height: 16px;
  margin: 0.25rem;
}

.loadMore {
  cursor: pointer;
  width: 8rem;
  margin: 0 auto;
  text-align: center;
  padding: 0.25rem 0.5rem;
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
  border-radius: 1rem;
  opacity: 0.7;
  margin-top: 2rem;
}

.loadMoreDiv,
.categoryLoadMoreDiv {
  display: flex;
  justify-content: center;
}

.shareIconDiv {
  cursor: pointer;
  position: absolute;
  top: 4%;
  right: 1%;
  z-index: 2;
  color: #ffffff;
  background-color: #006eff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {

  .input,
  .textarea {
    padding: 1rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
  }

  .leafletContainer {
    height: 400px;
  }
}

@media (max-width: 575px) {
  .serviceReviewForm {
    width: 90%;
  }

  .serviceReviewFormDiv {
    margin: 0 auto;
  }

  .swiperServiceQuote {
    margin-bottom: 1rem;
  }
  
  .swiperExploreServiceCard,
  .serviceItemCard,
  .servicePageCard {
    height: 325px;
    justify-content: center;
  }

  .swiperServiceDetails,
  .categoryServiceDetails,
  .servicePageDetails {
    align-items: center;
    width: 100%;
    margin-left: 0;
  }

  .exploreCategories {
    margin-bottom: 7rem;
  }

  .categoryServiceImg {
    margin-right: 0;
  }

  .categoryServiceStarRatings {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: none;
  }
  .categoryServiceStarReviews {
    margin-top: 0;
    margin-bottom: 0;
  }

  .reviewDetails {
    width: 100%;
    margin: 0 auto;
  }

  .reviewTypeDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: .5rem auto
  }

  .reviewName {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }

  .reviewCoachingType,
  .reviewPriceType {
    margin: 0.25rem .5rem;
  }

  .ratingDiv {
    margin-top: 1rem;
  }

  .ratingDiv,
  .reviewMessage {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  

  .reviewInputSmall,
  .reviewTimeInputSmall {
    width: 75px;
    height: 50px;
  }

  .removeIcon {
    margin-right: 1.25rem;
  }

  .editIcon {
    margin-right: 1.25rem;
  }

  .editFormButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
  }
}